//fonts
$global-font-family: "Red Hat Text", sans-serif;
$global-nav-font: "Red Hat Display", sans-serif;

//colors
$global-font-color: #6a6a6a;
$global-heading-color: #272727;
$global-green-color: #86a687;
$global-bg-color: #fbfbfb;
